@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
.socialContainer{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socialContainer div {
  width: 5rem;
  height: 5rem;
  transition: all ease-in-out .3s;

}
.socialContainer div img, .titlesContainer  a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titlesContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 5px;
}
.titlesContainer a {
  width:11rem;
  height: 11rem;
  transition: all ease-in-out .3s;
  margin-top: .7rem;
}
.titlesContainer a:hover, .socialContainer div:hover{
  scale: 1.05;
}
.titlesContainer a img{
border-radius: .5rem;

}

